server:
  port: 8080

spring:
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  datasource:
    url: jdbc:mysql://localhost:3306/plantmanager?useSSL=false&serverTimezone=UTC
    username: root
    password: 
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  jackson:
    serialization:
      write-dates-as-timestamps: false
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 1011731565766-d2u2889t7e3vmmajnn8lu07qmf76ts1d.apps.googleusercontent.com
            client-secret: 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
            scope:
              - openid
              - profile
              - email
            redirect-uri: "http://localhost:8080/auth/google/callback"
        provider:
          google:
            issuer-uri: https://accounts.google.com

app:
  jwt:
    secret: ${JWT_SECRET:change-this-in-prod}
    expiration-ms: 604800000 # 7 days
  cors:
    allowed-origins: ${CORS_ALLOWED_ORIGINS:http://localhost:4200}
